<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <script rel="script" src="../static/jquery-3.2.1.min.js" th:src="@{/jquery-3.2.1.min.js}"></script>
    <script rel="script">
        function f() {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: "post",
                url: "/open/passwdLogin.api",
                data: JSON.stringify({
                    data: {
                        user:"MNILSY",
                        passwd:"123abc?"
                    },
                    sessionid: ""
                }),
                async: true,
                dataType: "json",
                success: function (data) {
                    console.log(data)
                },
                error: function () {
//这个是失败的回调
                },
                complete: function () {
//这个是不管成功还是失败都会执行的回调
                }
            })
        }

        function t() {
            $.ajax({
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                type: "post",
                url: "/updatePasswd.api",
                data: {
                    data: {
                        oldPasswd:"123abc!",
                        newPasswd:"123abc?"
                    },
                    sessionid: ""
                },
                async: true,
                dataType: "json",
                success: function (data) {
                    console.log(data)
                },
                error: function () {
//这个是失败的回调
                },
                complete: function () {
//这个是不管成功还是失败都会执行的回调
                }
            })
        }

    </script>
</head>
<body>
<a href="javascript:f()">test</a>
<a href="javascript:t()">test2</a>
</body>
</html>
    