<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <script rel="script" src="../static/jquery-3.2.1.min.js" th:src="@{/jquery-3.2.1.min.js}"></script>
    <script rel="script">
        function f() {
            $.ajax({
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                type: "post",
                url: "/open/passwdLogin.api",
                data: {
                    data: {
                        user: "MNILSY",
                        passwd: "123456"
                    },
                    sessionid: ""
                },
                async: true,
                dataType: "json",
                success: function (data) {
                    console.log(data)
                },
                error: function () {
//这个是失败的回调
                },
                complete: function () {
//这个是不管成功还是失败都会执行的回调
                }
            })
        }
    </script>
</head>
<body>
<a href="javascript:f()">emmmmmm</a>
</body>
</html>
    